img {
  max-width: 100%;
  height: 700px;
  width: 500px;
}

body {
  background: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 150px;
  max-width: 100%;
}

h2 {
  text-align: center;
  font-size: 70px;
}

h3 {
  text-align: center;
  font-size: 30px;
}
p {
  color: rgb(0, 0, 0);
  font-size: 50px;
}
div {
  font-size: 20px;
  color: black;
}
a {
  text-decoration: none;
  font-size: 40px;
  background-color: gold;
  color: black;
  border-color: black;
  border-radius: 10px;
}
